/* CSS declarations go here */
html{
  height:100%;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
.container-fluid {
  height: 100%;
  width:100%;
  background: white;
}
body{
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
#menuBar {
  margin: 0;
  padding: 0;
  height: 10%;
  color: #ffffff;
  text-align: center;
  background-color: #2E3638;
  list-style: none;
}
#menuBar > li {
  display: inline-block;
}
.title{
  text-align: center;
}
.signin{
  padding-top: 0;
  padding-bottom: 0;
  float: left;
  margin-left: 0px
}

.loginButton{
  height:100%;
  color: white;
  background: #4C8FFB;
  border: 1px Solid #4C8FFB;
}

#loginList{
  list-style: none;
}
.register{
  list-style: none;
}

.courseOptions{
  list-style: none;
}
.sidePanel{
  width:24.5%;
  height: 100%;
  float:left;
  margin: 0;
  border: 2px solid #d3d3d3;
}
#map {
  float: right;
  margin:0;
  padding: 0;
  width: 75.5%;
}
.courses{
  list-style: none;
}
.tutorsList {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 70%;
}
.tutorsList > li {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  border: 1px Solid #d3d3d3;
}
.tutorsList > li > button{
  float:right;
}
.searchPanel{
  height: 20%;
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
}
