/* CSS declarations go here */
html{
  height:100%;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
.container-fluid {
  height: 100%;
  width:100%;
  background: white;
}
body{
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
#menuBar {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  background-color: #2E3638;
  list-style: none;
}
#menuBar > li {
  display: inline-block;
}

#availability {
  margin-top: 15px;
  margin-left: 5px;
  float: left;
}
#requestTutor{
  float:left;
  margin-top: 15px;
  margin-left: 15px;
}

#courseSelector, #timeSelector{
  margin-top: 5;
  margin-bottom: 5;
  max-width: 30%;
}
#registerError{
  display: none;
  color: #ff0000;
}
.requestList{
  list-style: none;
}
.title{
  text-align: center;
}
.signin{
  position: absolute;
  left: 92.5%;
  margin-top: 5px;
  margin-bottom: 0px;
  float: right;
  margin-left: 0px
}

#loginList{
  list-style: none;
}
.register{
  list-style: none;
}

.courseOptions{
  list-style: none;
}
.map-container {
   width: 100%;
}
